@using Isdg.Core.Data
@model Isdg.Models.MeetingListViewModel

@{
    ViewBag.Title = "Related meetings";
}

<div class="section-header"><h2>Related meetings</h2></div>

<p>Here, some conferences and workshops on game theory are mentioned. This list is not all-embracing.</p>
@if (Model.CanCreateMeeting) 
{
    @Html.Partial("_Create", new Meeting())
}
<div id="meetings">
    @if (Model.ComingMeetingsList.Count() > 0)
    {
        <span class="meeting__title">The Coming Meetings</span>
        foreach (var item in Model.ComingMeetingsList)
        {        
            @Html.Partial("_Meeting", item);
        }
    }
    @if (Model.PastMeetingsDict.Count() > 0) 
    {
        <span class="meeting__title">Past Events</span>
        foreach (var meetingsPair in Model.PastMeetingsDict)
        {
            <span class="meeting__year">meetingsPair.Key</span>
            foreach (var item in meetingsPair.Value) 
            {
                @Html.Partial("_Meeting", item);
            }
        }
    }
</div>