@{
    ViewBag.Title = "Executive board";
}
<h2>@ViewBag.Title</h2>

<hr />

<table border="0" width="100%">
  <tbody>
    <tr>
      <td bgcolor="#000080"><font face="Arial" size="4"
        color="#ffffff">Officers and the executive board </font></td>
    </tr>
  </tbody>
</table>

<table border="0" style="width: 100%">
  <col /> 
  <col /> 
  <col />
  <tbody>
    <tr>
      <td colspan="3"><strong>President &amp; Treasurer:</strong></td>
    </tr>
    <tr>
      <td style="width:60%"><a
        href="http://www.hec.ca/profs/michele.breton.html"><span
        style="margin-left:1em">Michele Breton</span></a></td>
      <td style="width:15%;text-align:center">2012-2016</td>
      <td style="width:25%"><a
        href="mailto:michele.breton@hec.ca">michele.breton@hec.ca</a></td>
    </tr>
    <tr>
      <td style="text-align:right">HEC, Montreal, Canada</td> <td></td> <td></td>
    </tr>
    <tr><td colspan="3">&nbsp</td></tr>
	
    <tr>
      <td colspan="3"><strong>Members of the executive board:</strong></td>
    </tr>
    <tr><td colspan="3">&nbsp</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a
        href="http://people.stfx.ca/japaloo">Joseph Apaloo</a></span></td>
      <td
        style="text-align:center">2014-2018</td>
      <td><a href="mailto:japaloo@stfx.ca">japaloo@stfx.ca</a></td>
    </tr>
    <tr>
      <td style="text-align:right">St Francis
        Xavier University, Antigonish, Canada</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a href="http://www.tcs.tifr.res.in/~borkar/">Vivek Borkar </a></span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:borkar@tifr.res.in">borkar@tifr.res.in</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Tata Institute of Fundamental Research, Mumbai, India</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a href="http://www.math.unipd.it/~buratto/Home.html">Alessandra Buratto</a></span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:buratto@math.unipd.it">buratto@math.unipd.it</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Dept. of Math., University of Padova, Padova, Italy</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em">Dean Carlson</span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:dac@ams.org">dac@ams.org</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Mathematical Reviews, Ann Arbor, USA</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a href="http://www.eco.ub.es/~jmarin/">Jesus Marin-Solano </a></span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:jmarin@ub.edu">jmarin@ub.edu</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Faculty of Economics and Business, Universitat de Barcelona, Barselona, Spain</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a href="http://mathem.krc.karelia.ru/member.php?id=1&plang=e">Vladimir Mazalov</a></span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:vmazalov@krc.karelia.ru">vmazalov@krc.karelia.ru</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Inst. of Appl. Math. Reseacrh, Petrozavodsk, Russia</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
	
    <tr>
      <td><span style="margin-left:1em"><a href="http://lmba.math.univ-brest.fr/perso/catherine.rainer/">Catherine Rainer</a></span></td>
      <td
        style="text-align:center">2014-2018</td>
      <td><a href="mailto:Catherine.Rainer@univ-brest.fr">Catherine.Rainer@univ-brest.fr</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Universit&eacute; de Brest, Brest, France</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td><span style="margin-left:1em"><a href="http://sourcedb.cas.cn/sourcedb_ioz_cas/yw/scs/pi/200907/t20090716_2088449.html">Yi Tao</a></span></td>
      <td
        style="text-align:center">2014-2018</td>
      <td><a href="mailto:yitao@ioz.ac.cn">yitao@ioz.ac.cn</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Institute of Ecology, Chinese Academy of Sciences, Beijing, China</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td><span style="margin-left:1em"><a href="http://www.uva.nl/en/about-the-uva/organisation/staff-members/content/w/a/f.o.o.wagener/f.o.o.wagener.html">Florian Wagener</a></span></td>
      <td
        style="text-align:center">2014-2018</td>
      <td><a href="mailto:F.O.O.Wagener@uva.nl">F.O.O.Wagener@uva.nl</a></td>
    </tr>
    <tr>
      <td style="text-align:right">University of Amsterdam, Amsterdam, the Netherlands</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td><span style="margin-left:1em"><a href="http://prac.im.pwr.wroc.pl/~wiecek/me_eng.html">Piotr Wiecek</a></span></td>
      <td
        style="text-align:center">2014-2018</td>
      <td><a href="mailto:Piotr.wiecek@pwr.wroc.pl">Piotr.wiecek@pwr.wroc.pl</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Wroclaw University of Technology, Wroclaw, Poland</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td><span style="margin-left:1em"><a href="http://www.eng.spbu.ru/faces/whoiswho/z/zaharov/">Victor Zakharov</a></span></td>
      <td
        style="text-align:center">2012-2016</td>
      <td><a href="mailto:mcvictor@mail.ru">mcvictor@mail.ru</a></td>
    </tr>
    <tr>
      <td style="text-align:right">Saint-Petersburg State University, Saint-Petersburg, Russia</td> <td></td> <td></td>
    </tr> <tr> <td colspan="3">&nbsp;</td></tr>

	</tbody>
</table>

<TABLE BORDER=0 >
<tr><td bgcolor="#000080">
<font face="Arial" size="2" color="#ffffff">
Former presidents:
</font><tr><td bgcolor="#ffffff"></td></tr>
</table>

<p>
<a href="http://decision.csl.uiuc.edu/~tbasar">Tamer Basar</a> , 1990-1994<br />
<a href="http://blogs.unige.ch/hec/logilab/template/staff/haurie/index.html">Alain Haurie</a>, 1994-1998<br />
<a href="http://www-sop.inria.fr/miaou/Pierre.Bernhard/me.html">Pierre Bernhard</a>, 1998-2002<br />
<a href="http://www.hec.ca/pages/georges.zaccour/Zaccour_home.html"> Georges Zaccour</a>, 2002-2006<br />
<a href="http://www.ewi.tudelft.nl/en/the-faculty/departments/applied-mathematics/optimization-and-systems-theory/systems-theory/people/emeritus/geert-jan-olsder/">Geert Jan Olsder</a>, 2006-2008<br />
<a href="http://www.isdgrus.ru/department/petrosyan_eng.htm">Leon Petrosyan</a>, 2008-2012
</p>

<TABLE BORDER=0 >
<tr><td bgcolor="#000080">
<font face="Arial" size="2" color="#ffffff">
Former members of the executive board:&nbsp;&nbsp;
</font><tr><td bgcolor="#ffffff"></td></tr>
</table>

<p style="column-count: 2;-moz-column-count: 2;-webkit-column-count: 2;сolumn-gap: 20px;-moz-column-gap: 20px;-webkit-column-gap: 20px">

<!-- <a href="http://people.stfx.ca/japaloo">Joseph Apaloo</a>, 2006-2018<br /> -->

<a href="http://decision.csl.uiuc.edu/~tbasar">Tamer Basar</a>, 1990-1998<br />

<a href="http://www-sop.inria.fr/miaou/Pierre.Bernhard/me.html">Pierre Bernhard</a>, 1990-2002<br />

<a href="http://www.iwi.uni-hannover.de/cms/index.php?option=com_content&task=view&id=43&Itemid=56">Michael Breitner</a>,1998-2006<br />

<!-- <a href="http://www.hec.ca/profs/michele.breton.html">Michele Breton</a>, 2006-2016<br /> -->

<a href="http://www.diel.univaq.it/people/sche.php?id_people=7">Paolo Caravani</a>,  2002-2006<br />

<a href="http://www.ceremade.dauphine.fr/~cardalia/">Pierre Cardaliaguet</a>, 2010-2014<br />

<a href="http://www.hut.fi/Units/SAL/Personnel/Homepages/HarriE.html">Harri Ehtamo</a> 1990-1998,2004-2008<br />

<a href="http://www.unisanet.unisa.edu.au/staff/Homepage.asp?Name=jerzy.filar">Jerzy Filar</a>, 1996-2000, 2004-2008<br />

<a href="http://www.unisanet.unisa.edu.au/staff/homepage.asp?Name=Vladimir.Gaitsgory">Vladimir Gaitsgory</a>, 2000-2004, 2006-2012<br />

<a href="mailto:gaosai@public.qd.sd.cn">Hongwei Gao</a>, 2010-2014<br />

<a href="http://blogs.unige.ch/hec/logilab/template/staff/haurie/index.html">Alain Haurie</a>, 1990-2004<br />

<a href="http://www.hut.fi/Units/SAL/Personnel/Homepages/RaimoH.html">Raimo P.  H&auml;m&auml;l&auml;inen</a>,  1990-2006<br />

<a href="http://blogs.unige.ch/hec/logilab/template/staff/haurie/index.html">Alain Haurie</a>, 1990-2004<br />

Fumiaki Imado, 2000-2004<br />

<a href="http://www.im.pwr.wroc.pl/en/pracownicy/56/%20Anna_Jaskiewicz.html">Anna Jaskiewicz</a>, 2010-2014<br />

<a href="http://www.entu.cas.cz/krivan/">Vlastimil Krivan</a>, 2010-2014<br />

Sergey Kumkov, 2008-2012<br />

<a href="http://www2.eco.uva.es/guiomar">Guiomar Mart&iacute;n-Herr&aacute;n</a>, 2004-2008<br />

St&eacute;phane Le M&eacute;nec, 2002-2006<br />

<span style="border:solid thin black;">Arik Melikyan</span>, 1996-2000, 2004-2008<br />

Koichi Mizukami,  1996-2000<br />

Jacqueline Morgan, 1996-2004<br />

Andrzej Nowak,  2000-2004<br />

<a href="http://www.ewi.tudelft.nl/en/the-faculty/departments/applied-mathematics/optimization-and-systems-theory/systems-theory/people/emeritus/geert-jan-olsder/">Geert Jan Olsder</a>, 1990-1998, 2006-2010<br />

<a href="http://www.isdgrus.ru/department/petrosyan_eng.htm">Leon Petrosyan</a>, 1998-2006, 2008-2012<br />

<a href="http://www-sop.inria.fr/coprin/equipe/pourtallier/">Odile Pourtallier</a>, 1998-2002, 2006-2010<br />

Marc Quincampoix, 2004-2008<br />

<a href="http://www.aero.technion.ac.il/staff/pages/shinar.htm"><span style="border:solid thin black;">Josef Shinar</span></a>,  1990-1998<br />

<a href="http://neyman.im.pwr.wroc.pl/~szajow/">Krzysztof Szajowski</a>, 2006-2010<br />

<a href="http://www.lameta.univ-montp1.fr/spip/spip.php?rubrique75&lang=fr">Mabel Tidball</a>, 2002-2006<br />

Boleslaw Tolwinski, 1990-1996<br />

<a href="http://www.math.unipd.it/~viscolan/">Bruno Viscolani</a>, 2008-2012<br />

<a href="http://www.math.unimaas.nl/members/koosv.htm">Koos Vrieze</a>, 1996-2000<br />

Klaus Well, 1990-1996<br />

<a href="http://net3.hkbu.edu.hk/~wkyeung/"> David  Yeung</a>, 2006-2010<br />

<a href="http://www.hec.ca/pages/georges.zaccour/Zaccour_home.html">Georges Zaccour</a>,  1996-2006<br />

