@{
    ViewBag.Title = "Isaacs' Award";
}
<h2>@ViewBag.Title</h2>

<hr />

<TABLE BORDER=0 WIDTH="100%">
<tr><td bgcolor="#000080">
<font face="Arial" size="4" color="#ffffff">
Rufus Isaacs' Award
</font></td></tr>
</table>
<br>

<p>The executive committee of the International Society of Dynamic Games decided in 2003 to establish a prize to recognize the &quot;outstanding contribution to the theory and applications of dynamic games&quot; of two scholars at each of its symposium, starting in 2004.  The prize was named after Rufus Isaacs, the acknowledged founding father of differential games.</p>


<h3>2014 Laureates</h3>

<p align="center"><img src="~/Content/Award/2014.jpg" width="60%" /></p>

<p><a href="http://www-sop.inria.fr/members/Eitan.Altman/">Eitan Altman</a> (<i>on the left</i>),  
<a href="http://www.isdgrus.ru/department/petrosyan_eng.htm">Leon Petrosyan</a> (<i>on the right</i>)
</p>

<h3>2012 Laureates</h3>

<p align="center"><img src="~/Content/Award/2012.jpg" width="60%" /></p>

<p><a href="http://homepage.univie.ac.at/karl.sigmund/">Karl Sigmund</a> (<i>in the center, on the left</i>),  
Steffen Jorgensen (<i>in the center, on the right</i>)
</p>

<h3>2010 Laureates</h3>

<p align="center"><img src="~/Content/Award/2010.jpg" width="60%" /></p>

<p><a href="https://netfiles.uiuc.edu/basar1/www/">Tamer Basar</a> (<i>in the center</i>),	
<a href="http://wwwhome.math.utwente.nl/~arun60/Olsder.html">Geert Jan Olsder</a> (<i>at right</i>)
</p>


<h3>2008 Laureates</h3>

<img align="center" src="~/Content/Award/2008.jpg" width="100%" />

<p><a href="http://www.ordecsys.com/fr/system/files/shared/CV_Alain_B_31-08-08.pdf">Alain Haurie</a> (<i>in the center</i>),	
<a href="http://www-sop.inria.fr/comore/Personnel/Pierre.Bernhard/index_en.html">Pierre Bernhard</a> (<i>at right</i>)
</p>


<h3>2006 Laureates</h3>

<p align="center"><img src="~/Content/Award/2006-krasovskii.jpg" width="28%" />
&nbsp; &nbsp; <img src="~/Content/Award/2006-fleming.jpg" width="25%" /></p>

<p><a href="http://krasovski.uran.ru/">Nikolai Krasovskii</a> (<i>at left</i>; the linked page is in Russian),	
<a href="http://www.dam.brown.edu/people/whf/fleming.html">Wendell Fleming</a> (<i>at right</i>)
</p>


<h3>2004 Laureates</h3>

<img align="center" src="~/Content/Award/2004.jpg" width="100%" />

<p><a href="http://www.me.berkeley.edu/faculty/leitmann/">George Leitmann</a> (<i>at left</i>),	
<a href="http://people.seas.harvard.edu/~ho/">Yu-Chi Ho</a> (<i>at right</i>)
</p>
