@using Isdg.Models
@model IEnumerable<SentEmailViewModel>

@{
    ViewBag.Title = "Newsletter";
}

<div class="section-header"><h2>Newsletter</h2></div>
@Html.Partial("_Create", new SendEmailModel())

<div id="sent_emails">    
    @foreach (var item in Model) 
    {
        @Html.Partial("_SentEmail", item)    
    }    
</div>
