@model List<Isdg.Models.ApplicationUserViewModel>

@{
    ViewBag.Title = "Users";
}

<div class="section-header"><h2>@ViewBag.Title</h2></div>
<hr />
<div id="users">
    @foreach (var item in Model)
    {        
        @Html.Partial("_User", item)
    }
</div>