@{
    ViewBag.Title = "Confirm email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for the email confirmation. @Html.ActionLink("Click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
