@using Microsoft.AspNet.Identity
@model string
@if (Request.IsAuthenticated)
{    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-right top-nav">
        <li>
            @Html.ActionLink("Hello, " + Model + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        <li><a href="https://www.gerad.ca/isdg/subscribe.php">ISDG membership</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-right top-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><a href="https://www.gerad.ca/isdg/subscribe.php">ISDG membership</a></li>
    </ul>
}
