@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. Please, try to refresh your page; if error repeats, please, <a href="mailto:admin@isdg-site.org">mail to us</a>.</h2>

