@model Isdg.Core.Data.News

<span class="news__delete hidden">
@using (Ajax.BeginForm("ConfirmDeleteNews", "News", new { newsId = Model.Id }, new AjaxOptions() { UpdateTargetId = "news" }, new { @class="form_inline" }))
{    
    <span class="delete_confirmation">Are you sure you want to delete this news?</span>                
    @Html.AntiForgeryToken()
    <span class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default btn-sm" />
        <input type="button" value="Cancel" class="btn btn-default btn-sm" onclick="closeFormOnButton('news__delete', this)" />
    </span>
}
</span>