@using Isdg.Core.Data
@model IEnumerable<EmailAccount>

@{
    ViewBag.Title = "Mailout";
}

<h2>Mailout</h2>

@Html.Partial("_Create", new EmailAccount())
@Html.Partial("_EmailAccountList", Model)
@Html.Partial("_SendTestEmail", new Isdg.Models.TestEmailModel())