<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>    
    <add name="IsdgUsersConnection" connectionString="Data Source=204.93.193.254;Initial Catalog=sskumk_IsdgUsers;User ID=sskumk_Isdg;Password=hkj@df45jk;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <add name="IsdgObjectContext" connectionString="Data Source=204.93.193.254;Initial Catalog=sskumk_Isdg;User ID=sskumk_Isdg;Password=hkj@df45jk;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      В следующем примере преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле Web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле
      <system.web>, не требуется использовать атрибут "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="Error.htm"/>
    </customErrors>
  </system.web>
</configuration>
