@using Isdg.Core.Data
@model Isdg.Models.NewsListViewModel

@{
    ViewBag.Title = "News";
}

<div class="section-header"><h2>News</h2></div>

@if (Model.CanCreateNews) 
{
    @Html.Partial("_Create", new News())
}
<div id="news">
    @foreach (var item in Model.NewsList)
    {        
        @Html.Partial("_News", item)
    }
</div>