@using Isdg.Core.Data
@model IEnumerable<Isdg.Models.NewsViewModel>

@{
    ViewBag.Title = "News";
}

<div class="section-header"><h2>News</h2></div>

@if (Model.First().CanCreateNews) 
{
    @Html.Partial("_Create", new News())
}
<div id="news">
    @foreach (var item in Model)
    {        
        @Html.Partial("_News", item)
    }
</div>